/* Main.css */
.modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }