.payment-page {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .payment-methods {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  
  .payment-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: 2px solid transparent;
    transition: border 0.3s ease;
  }
  
  .payment-option img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .payment-option p {
    margin: 0;
    font-size: 14px;
  }
  
  .payment-option.selected {
    border: 2px solid #007bff;
  }
  
  .credit-card-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    width: 48%;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    font-size: 14px;
    font-weight: bold; /* Make the error text bold */
    margin-top: -8px;
    margin-bottom: 10px;
  }
  .cash-payment-section{
    text-align: center;
  }
  .qr-code-section img {
    align-items: center;
    padding-left: 1%;
  }
  .qr-code-section{
    text-align: center;
  }